<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>CVTHEQUE</display-name>
	<description>Projet cvtheque</description>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/data-context.xml,classpath*:spring/aop-context.xml,classpath*:spring/tx-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<servlet>
		<servlet-name>InitApplication</servlet-name>
		<servlet-class>com.cvtheque.servlet.InitApplication</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ServletLogin</servlet-name>
		<servlet-class>com.cvtheque.servlet.ServletLogin</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet-mapping>
		<servlet-name>InitApplication</servlet-name>
		<url-pattern>/InitApplication</url-pattern>
	</servlet-mapping>
	

	<servlet-mapping>
		<servlet-name>ServletLogin</servlet-name>
		<url-pattern>/ServletLogin</url-pattern>
	</servlet-mapping>
</web-app>
